
/* logo */
.logo
{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.search
{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/* food item */
.item
{
    width: 24%;
    float: left;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 .5% 35px;
}

.container-item
{
    position: fixed;
    top: 35%;
    left: 25%;
    right: 25%;
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 0;
    scroll-behavior: auto;
}

.contain-item .box
{
    z-index: 10;
}

.contain-item .status
{
    position: absolute;
    top: 32%;
    left: 17%;
    z-index: 20;
}

.contain-item #text
{
    position: absolute;
    top: 33%;
    left: 17%;
    z-index: 30;
}

.contain-item #amount
{
    position: absolute;
    top: 39%;
    left: 17%;
    z-index: 30;
}

.contain-item #date
{
    position: absolute;
    top: 45%;
    left: 17%;
    z-index: 30;
}