body {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/* page-login */
.page-login {
    width: 100%;
    height: 100%;
}

.page-login .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-login .center img {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.page-login .center .login-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.page-login .center .login-text-container h3 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.page-login .center .login-text-container label {
    display: block;
    margin: 25px 0 5px 10px
}

.page-login .center .login-text-container input {
    border-width: 1.5px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-color: #919290;
}

.page-login .center .login-text-container h6 {
    margin: 10px 0 20px 0;
    color: #919290;
}

.page-login .center .login-text-container h6:hover {
    margin: 10px 0 20px 0;
    color: #4a4849;
    cursor: pointer;
}

.page-login .center .login-text-container button {
    border-radius: 10px;
    background-color: #919290;
    border-width: 0;
    height: 40px;
    width: 100%;
    color: white;
}

.page-login .center .login-text-container button:hover {
    background-color: #f7f8f9;
    cursor: pointer;
    color: #919290;
}

/* Modal window - forgotten password */

.forgot-modal-window
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 40; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.forgot-modal-contains
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    color: #3F3E3E;
}

#forgot-modal-titel
{
    color: #3F3E3E;
    text-align: center;
}

.forgot-modal-contains input
{
    border-width: 1.5px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-color: #919290;
}

.forgot-modal-contains h5
{
    text-align: center;
    color: #dddadc;
}

.forgot-modal-contains h6
{
    font-size: x-small;
    color: #605d5e;
}

.forgot-modal-contains button
{
    border-radius: 10px;
    background-color: #919290;
    border-width: 0;
    height: 40px;
    width: 100%;
    color: white;
}

.forgot-modal-contains button:hover
{
    background-color: #f7f8f9;
    color: #919290;
    cursor: pointer;
}

.forgot-close
{
    color: #848583;
    float: right;
    font-size: 28px;
}

.forgot-close:hover
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}







/* page-management*/
.page-management {
    width: 100%;
    height: 100%;
}

.page-management .middle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 100vh;
}

.page-management .middle .top {
    text-align: center;
}

.page-management .middle .top img {
    margin-top: 4%;
    margin-bottom: 4%;
}

.page-management .middle .top input {
    border-width: 1.5px;
    border-radius: 7px;
    box-sizing: border-box;
    border-color: #919290;
    height: 25px;
}

.page-management .middle .top button {
    border-radius: 7px;
    background-color: #919290;
    border-width: 0;
    height: 25px;
    color: white;
}

.page-management .middle .grid {
    /* POSITIONING */
    margin-top: 2%;
    width: 100%;
    max-height: 70vh;

    /* GRID STRUCTURING */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    grid-row-gap: 0;

    overflow-y: scroll;
}

.page-management .middle .grid .item {
    /* SET SIZE DEPENDING ON VIEWPORT */
    position: relative;
    width: 4vw;
    height: 4vw;
    min-width: 80px;
    min-height: 80px;

    /* SPACING AROUND ITEM */
    margin: 0 2vw 4vw 2vw;
}

.page-management .middle .grid .item .box-visual {
    /* STRETCH ENTIRE BOX */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-management .middle .grid .item .box-status {
    /* POS TOP LEFT OF BOX */
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 15%;
    margin-top: 6%;
    margin-left: 6%;
}

.page-management .middle .grid .item .trash-icon {
    /* POS TOP RIGHT OF BOX */
    position: absolute;
    top: 0px;
    right: -10px;
    width: 30%;
    height: 30%;
}

.page-management .middle .grid .item .box-content {
    /* POS TEXT IN THE MIDDLE OF BOX*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.page-management .middle .grid .item .box-content p {
    /* ACTUAL TEXT MIDDLE POS */
    text-align: center;
    font-size: 0.6em;
    margin: 0;
}


/* box to the right */
#box-right {
    position: fixed;
    top: 28%;
    right: 0;
    z-index: 10;
}

#slider-right {
    position: absolute;
    top: 28%;
    right: 0;
    z-index: 20;
}

#box-right #box-right-contains{
    top: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#box-right #box-right-contains .delete-box {
    position: absolute;
    top: 2%;
    z-index: 30;
}

/* box to the left */
#box-left {
    position: fixed;
    top: 28%;
    left: 0;
    z-index: 10;
}

#slider-left {
    position: absolute;
    top: 28%;
    left: 0;
    z-index: 20;
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F4F4F4;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D3D3D3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}


/* modal */
/* The Modal (background) */
.modal-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 40; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contains {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

#food-name, #date {
    width: 100%;
}

#amount {
    width: 20%;
}

#type {
    width: 40%;
}

.button {
    color: #F4F4F4;
    background-color: #9B9A9A;
    width: 100%;
    height: 30px;
}

/* The Close Button */
.close {
    color: #848583;
    float: right;
    font-size: 28px;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-titel {
    color: #3F3E3E;
    text-align: center;
}
